    </div>
        </div>

    <footer id="footer">
      <div style="width: 270px; color: #2196F3;   margin: 0 auto;">
	     <div style="  margin-top: 27px; float: left">
        <strong>Light Control</strong>
      </div>
         <div style="  margin-top: 21px; float: right">
 <a href="/off"><img alt="Logo" src="static/off.svg" style="width: 77px; height: 32px; margin-right: 5px;"> </a>  
 <a href="/on"> <img alt="Logo" src="static/on.svg" style="width: 77px; height: 32px;"></a>

 
      </div>
    </footer> <!-- /footer -->
