<%inherit file="base.html"/>
<%doc>
  Note that the base file already contains a "container" div with appropriate
  spacing for the navbar
</%doc>
<div class="jumbotron homepage-jumbotron">
  <h1>Good Morning, Sunshine Alarm!</h1>
  <p class="lead">Start your day a little bit brighter.</p>
  <hr/>
  <p>Set alarm for ${day}</p>
  <form action="/set_alarm", method="POST">
    <input name="time" type="time" value="${time}"/>
    <input type="submit" class="btn btn-primary btn-lg"></input>
    <a href="/clear_alarm" class="btn btn-danger btn-lg">Clear</a>
  </form>
</div><!-- /jumbotron -->
<hr/>
<div class="row" style="text-align:center;">
  <h2>Light Controls</h2>
  <div class="container">
    <div class="col-md-4 col-md-offset-4" style="margin-top:10px;">
      <a href="/on" class="btn btn-success btn-lg">ON</a>
      <a href="/off" class="btn btn-danger btn-lg">OFF</a>
    </div>
  </div>
</div>
