<%inherit file="base.html"/>
<%doc>
  Note that the base file already contains a "container" div with appropriate
  spacing for the navbar
</%doc>

  <div class="mui-container-fluid" style="width: 300px; text-align: center">
	     
	      <img alt="Logo" src="static/sun.svg" style="width: 110px; height: 110px; margin-top: 40px;">
        <h1 style="margin-top: 10px;">Sunshine Alarm</h1>
        <p>Set the alarm to your desired wake-up time. The light will stay on for ${duration} minutes.</p>
       
       <div style="float:left; margin-top: 30px; font-size: 0.9em;">
       <p>Timer for for ${day}</p>
       </div>
  <form class="mui-form" action="/set_alarm", method="POST">
	    <div class="mui-textfield">

    <input name="time" type="time" value="${time}"/>
	    </div>
	        <a href="/clear_alarm" class="mui-btn" style="margin-bottom: 20px; width: 128px; font-size: 0.8em; padding: 0px; border: 1px solid #2196F3; color: #2196F3;">Clear</a>

	      <button type="submit" class="mui-btn mui-btn--primary" style="margin-bottom: 20px; width: 128px; font-size: 0.8em; padding: 0px; border: 1px solid #2196F3; ">Set time</button>

  </form>
      </div>
    </div>


