<%doc>
Any page that employs the navbar should have the controller pass a list of
dictionaries to the template to help with navbar construction:

[{
  "text" : "Home"
  "url" : "/"
  "active" : True
}, ... ]

This list should be passed in the `navbar` variable
</%doc>

<div id="sidedrawer" class="mui--no-user-select">
      <div id="sidedrawer-brand" class="mui--appbar-line-height">
        <span class="mui--text-title">Set day</span>
      </div>
      <div class="mui-divider"></div>
      <ul>
	      % for element in navbar:
          % if element['active'] is True:
            <a href="${element['url']}"><li class="active">
          % else:
            <a href="${element['url']}"><li>
          % endif
              <strong>${element['title']}</strong>
            </li></a>
        % endfor

      </ul>
    </div>

